@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap");
* {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.body {
    font-size: 12px;
}

.catologo{
    display: flex;
    flex-direction: column;
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom right, #d32f2f, #000000);

    justify-content: center;
    align-items: center;
    text-align: center;
}

.ficha-producto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    background-color:#a79e9e;
    width: 450px;
    border-radius: 16px;
    margin-top: 16px;
    padding-left: 16px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
}

.nombre {
    font-size: 32px;
    font-weight: 700;
    margin-top: 24px;
}

.precio {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.cantidad {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(110, 133, 108);
}

.descripcion {
    font-size: 16px;
    color: rgb(20, 25, 41);
    margin: 16px;
    margin-left: 0px;
}

.foto {
    width: 45%;
    padding: 8px;
    border-radius: 25px;
    object-fit:cover
}

.btn {
    font-size: 16px;
    color: rgb(0, 6, 26);
    margin: 16px;
    font-size: 16px;
    color: rgb(14, 1, 1);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    width: 10rem;
}

.btn:hover {
    background-color: rgb(207, 45, 45);
    font-weight: 700;
    color: white;
}