:root{
    --AzulClaro: rgb(33, 158, 188);
    --AzulOscuro: rgb(2, 48, 71);
    --Amarillo: rgb(255, 183, 3);
    --Naranja: rgb(251, 133, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    text-align: center;
}
h4
{
    text-align: center;
}
header
{
    background-color: var(--Amarillo);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    font-size: 16px;
    background-color: var(--AzulOscuro);
 
}
main
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 18px;
    background-color: var(--AzulOscuro);
}
.image-container
{
    display: flex;
    width: 100%;
}
article
{
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    background-color: var(--AzulClaro);
}
@media screen and (min-width:800px)
{
    
main{
    display: flex;
    flex-direction: column;
}
  
}