@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root{
    --AzulClaro: rgb(33, 158, 188);
    --AzulOscuro: rgb(2, 48, 71);
    --Amarillo: rgb(255, 183, 3);
    --Naranja: rgb(251, 133, 0);
}
*
{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul
{
    list-style: none;
}
img
{
    max-width: 100%;
    width: 130px;
}
body
{
    background-color: var(--AzulOscuro);
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: var(--Naranja);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.lista
{
 display: flex;
 gap: 2rem;
}

.main-contenedor
{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    
}
.Presentacion{
    background-color: var(--AzulClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    
}
.Caja{
    background-color: var(--AzulClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  
    
}

.Presentacion-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ListasCaja li
{
    margin: 1rem;
    font-size: 20px;

}
ul{
    color: white;
}
a{
    
    color: white;
    font-size: 20px;
}
p{
    font-size: 20px;
    color: white;
}
.Iniciales
{
    font-size: 30px;
}
footer{
    padding: 2rem;
    width: 100%;
    background-color: var(--Naranja);
    font-size: 17px;
    color: white;

}

@media screen and (min-width:800px)
{
    
    .main-contenedor
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 3rem;
        max-height: 750px;
    
    }
    img{
        width: 30%;
    }
    footer {
        margin-top: 2rem;
    }

  
}
@media screen and (min-width:1200px)
{
    .Presentacion{
        flex-direction: row;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    footer {
        margin-top: 10rem;
    }
}
 
