@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    min-width: 375px;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    
}
header{
    width: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    width: 100px;
}

.contenedor-circulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contendor-encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Section-main{
    display: flex;
    flex-direction:column;

}
img{
    width: 100px;
}
.icon{
    color: aliceblue;
    width: 50px;
    height: 50px;

}
.Section1
{
    background-color: aqua;
 
}
article
{
    display: flex;
}
.Section2
{
background-color: red;
display:flex;
flex-direction: column;
align-items: center;

}
.Section2-Parrafos
{
    display:flex;
}
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}
.footer-Section1
{
    background-color: yellow;
 
}
.footer-Section2
{
    background-color: violet;
}
.footer-Section3
{
    background-color: rgb(36, 141, 26);
}
footer ul{
    list-style: none;
}
@media screen and (min-width:800px)
{
header
{
    display: flex;
    flex-direction: row;
}
.contendor-encabezado
{
    display: flex;
    flex-direction: column;
}
.Section-main
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
}