@import url('https://fonts.google.com/specimen/Inter');
:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    font-size: 15px;
}
img{
    max-width: 100%;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.lista{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.lista li{
    color: var(--Dark-grayish-blue);
    cursor: pointer;
}


.main-contenedor{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    max-height: 750px;
}
.main-Noticia{
    grid-column: 2 span;
    grid-row: 1 span;
}
.Noticia-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.Noticia-title{
    font-size: 3rem;
    color: var(--Very-dark-blue);
    width: 300px;
}
.Noticia-content{
    color: var(--Dark-grayish-blue);
    width: 350px;
    line-height: 1.5;
}
.Noticia-read{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Noticia-read button{
    background-color: var(--Soft-red);
    border: none;
    color: var(--Off-white);
    width: 200px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}

.new{
    grid-column: 1 span;
    grid-row: 1 span;
    background-color: var(--Very-dark-blue);
}
.new-contenedor{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.header{
    color: var(--Soft-orange);
    font-size: 2rem;
}
.new-Noticias{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}
.new-Noticia{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.new-Noticia::after{
    content: "";
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 1px;
    width: 100%;
    background-color: var(--Grayish-blue);
}
.new-Noticia:last-child::after{
    display: none;
}

.new-title{
    color: var(--Off-white);
    cursor: pointer;
}
.new-content{
    color: var(--Grayish-blue);
}

.top-Noticias{
    display: flex;
    grid-column: 3 span;
    grid-row: 1 span;
    gap: 1rem;
    justify-content: space-between;
}
.top-Noticia{
    display: flex;
    align-items: center;
    height: fit-content;
}
.top-title{
    cursor: pointer;
    color: var(--Very-dark-blue);
}

.top-Noticia img{
    width: 100px;
}
.top-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    height: 127px;
}
.num{
    color: var(--Grayish-blue);
    font-size: 2rem;
}
.top-content{
    color: var(--Dark-grayish-blue);
}
.menu{
    display: none;
}
@media screen and (max-width:800px) {
body{
    align-items: flex-start;
}

nav{
    padding-inline: 1rem;
}
.lista{
    display: none;
}
.menu{
    display: flex;
}
.main-contenedor{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
} 
.top-Noticias{
    display: flex;
    flex-direction: column;
}
.Noticia-info{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.Noticia-read{
    gap: 2rem;
    width: 100%;
}
.Noticia-title,.Noticia-content{
    width: 100%;
}
}


